# Configuración de variables de entorno (Ejemplo)
# NO incluir la barra final en las URLs

# Reemplaza esta IP por la IP de tu PC en la red local (LAN)
# Ej: http://192.168.1.100:3000
EXPO_PUBLIC_API_URL=http://<TU_IP_LOCAL>:3000

# Tamaño en MB para el test de descarga (min: 1, max: 50)
EXPO_PUBLIC_THROUGHPUT_DOWNLOAD_SIZE=5

# Hosts para medir latencia (Deben soportar requests HTTP rápidos)
EXPO_PUBLIC_LATENCY_HOST_1=https://1.1.1.1
EXPO_PUBLIC_LATENCY_HOST_2=https://8.8.8.8
EXPO_PUBLIC_LATENCY_HOST_3=https://www.google.com
